.label {
	-fx-padding: 5.0px;
    -fx-min-width: 150.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
  	-fx-color: white;
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-color: #faf0e6;
}

#menuPane {
	-fx-background-image: url("/images/menu_background.png");
    -fx-background-position: center center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


.labelMenu {
	-fx-text-fill: #f0f8ff;
	-fx-font-size: 20px;
}


.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-image: url("/images/green_background.png");
    -fx-color: white;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
   
}

.deck{
    -fx-background-color: green;	
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-padding: 3 30 3 30;
    -fx-width: 100px;
}

.playerLabel {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	}
	
.scoreLabel {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
}

.actualScore {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-background-image: url("/images/score_coin.png");
	-fx-background-size : 44px 35px;
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
	
}

.evaluationLabel {
	-fx-text-fill: white;	
}
	
.cardLabel{
	-fx-text-fill: white;
}


.button {
	-fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30 ;
    -fx-text-fill: black;
    -fx-font-size: 14px;
   	-fx-width: 50px;
   	-fx-pref-width: 120px;
   }
	
   
.button:hover {
	 -fx-background-color: 
        linear-gradient(#e68400, #ffd65b),
        linear-gradient(#f2ba44, #ffef84),
        linear-gradient(#efaa22, #ffea6a),
        linear-gradient(#eea10b 0%, #f8c202 50%, #ffe657 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}

.button:pressed {
    -fx-background-color: 
        linear-gradient(#ff8c00, #ffd65b),
        linear-gradient(#ff8c00, #ffe657),
        linear-gradient(#ff8c00, #ffe657),
        linear-gradient(#ff8c00 0%, #ffa500 50%, #ffe657 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    
   }
   
.startGame-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.twoPlayers-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}

.twoPlayers-button:focused {
    -fx-background-color: 
	    linear-gradient(#ffd65b, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657 0%, #ffa500 50%, rgb(236,118,0) 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}


.threePlayers-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}

.threePlayers-button:focused {
	    -fx-background-color: 
	    linear-gradient(#ffd65b, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657 0%, #ffa500 50%, rgb(236,118,0) 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.fourPlayers-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}

.fourPlayers-button:focused {
	 -fx-background-color: 
	    linear-gradient(#ffd65b, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657, rgb(236,118,0)),
        linear-gradient(#ffe657 0%, #ffa500 50%, rgb(236,118,0) 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}


.PokerGameView-button{
	-fx-background-color: green;
	-fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
}

.goBack-button {
	-fx-width: 50px;
   	-fx-pref-width: 150px;
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
	

.shuffle-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}

.deal-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
	
}







