.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
  	-fx-color: white;
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-color: #faf0e6;
}

.deckLabel {
	

}

#menuPane {
	-fx-background-image: url("/images/menu_background.png");
    -fx-background-position: center center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


.labelMenu {
	-fx-text-fill: #f0f8ff;
	-fx-font-size: 20px;
}


.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-image: url("/images/green_background.png");
    -fx-color: white;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
   
}

.deck{
    -fx-background-color: green;	
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-padding: 3 30 3 30;
    -fx-width: 100px;
}

.playerLabel {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	}
	
.scoreLabel {
	-fx-text-fill: #ffd700;
	-fx-font-weigt: bold;
	-fx-font-size: 13px;
}

.actualScore {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-background-image: url("/images/score_coin.png");
	-fx-background-size : 44px 35px;
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
	
}

.evaluationLabel {
	-fx-text-fill: white;	
}
	
.cardLabel{
	-fx-text-fill: white;
}


.button{
	-fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30 ;
    -fx-text-fill: black;
    -fx-font-size: 14px;
   	-fx-width: 50px;
   	-fx-pref-width: 120px;
    
   }
	
.button:pressed{
	-fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    
   }
   

   
.startGame-button {
	-fx-width: 50px;
   	-fx-pref-width: 150px;
    -fx-background-color: 
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 14px;
    -fx-text-fill: #cd853f;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.twoPlayers-button {
	
}

.threePlayers-button {
	
}

.fourPlayers-button {
	
}


.PokerGameView-button{
	-fx-background-color: green;
	-fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
}

.goBack-button {
	-fx-width: 50px;
   	-fx-pref-width: 150px;
    -fx-background-color: #808080;	
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-padding: 3 30 3 30;
    -fx-width: 100px;
}
	

.shuffle-button {
	-fx-background-color: #808080;	
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-padding: 3 30 3 30;
    -fx-width: 100px;
	
}

.deal-button {
	-fx-background-color: #808080;	
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-padding: 3 30 3 30;
    -fx-width: 100px;
	
	
}







